<button mat-raised-button (click)="aggUnita = !aggUnita" color="primary" >Aggiungi Unita</button>
<div *ngIf="aggUnita">
  <mat-form-field appeareance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="tipo">
      <mat-option value="unita">Unita</mat-option>
      <mat-option value="sottounita">Sottounita</mat-option>
      <mat-option value="organi">Organi Di Gestione</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appeareance="fill">
    <mat-label>Nome</mat-label>
    <input #aggUnIn [(ngModel)]="nome" matInput>
  </mat-form-field>
  <br>
  <button mat-stroked-button (click)="sendAggU()" color="primary">Aggiungi</button>
</div>

<br><br>
<button mat-raised-button (click)="rimUnita = !rimUnita" color="primary">Rimuovi Unita</button>
<div *ngIf="rimUnita">
  <button mat-stroked-button color="primary" (click)="sendRimU()">Conferma</button>
</div>

<br><br>
<button mat-raised-button (click)="aggDip = !aggDip" color="primary">Aggiungi Dipendente</button>
<div *ngIf="aggDip">
  <mat-form-field appeareance="fill">
    <mat-label>Nome</mat-label>
    <input #aggDipN [(ngModel)]="nome" matInput>
  </mat-form-field>
  <br>
  <mat-form-field appeareance="fill">
    <mat-label>Cognome</mat-label>
    <input #aggDipC [(ngModel)]="cognome" matInput>
  </mat-form-field>
  <br>
  <mat-form-field appeareance="fill">
    <mat-label>ruolo</mat-label>
    <mat-select [(ngModel)]="ruolo">

      <mat-option *ngFor="let element of unitaSel.ruoli" value={{element}}>{{element}}</mat-option>

    </mat-select>
  </mat-form-field>
  <br>
  <button mat-stroked-button color="primary" (click)="sendAggD()" >Aggiungi</button>
</div>
<br><br>

<button mat-raised-button (click)="rimDip = !rimDip" color="primary">Rimuovi Dipendente</button>
<div *ngIf="rimDip">
  <mat-form-field appeareance="fill">
    <mat-label>Id</mat-label>
    <input #rimDipIn [(ngModel)]="nome" matInput>
  </mat-form-field>
  <br>
  <button mat-stroked-button color="primary" (click)="sendRimD()">Conferma</button>
</div>
<br><br>

<button mat-raised-button (click)="aggRuolo = !aggRuolo" color="primary">Aggiungi Ruolo</button>
<div *ngIf="aggRuolo">
  <mat-form-field appeareance="fill">
    <mat-label>Nome</mat-label>
    <input #aggRuIn [(ngModel)]="nome" matInput>
  </mat-form-field>
  <br>
  <button mat-stroked-button (click)="sendAggR()" color="primary">Aggiungi</button>
</div>
<br><br>

<button mat-raised-button (click)="rimRuolo = !rimRuolo" color="primary">Rimuovi Ruolo</button>
<div *ngIf="rimRuolo">
  <mat-form-field appeareance="fill">
    <mat-label>Nome</mat-label>
    <input #rimRuIn [(ngModel)]="nome" matInput>
  </mat-form-field>
  <br>
  <button mat-stroked-button color="primary" (click)="sendRimR()">Conferma</button>
</div>

<br><br>
<button mat-raised-button (click)="elOrg = !elOrg" color="primary">Elimina Organigramma</button>
<div *ngIf="elOrg">
  <button mat-stroked-button color="primary" (click)="eliminaOrg()">Conferma</button>
</div>
